<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QB_QL_CUA_HANG_DIEN_MAYConnectionString" connectionString="Data Source=LAPTOP-S7AU503Q\SQLEXPRESS;Initial Catalog=QB_QL_CUA_HANG_DIEN_MAY;Persist Security Info=True;User ID=sa;Password=haiquan32" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
